<table class="table table-hover">
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Created by
      </th>
      <th>
        Time
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="session in list">
      <th>
        {{session.id}}
      </th>
      <td>
        {{session.createdBy}}
      </td>
      <td>
        {{session.createdAt}}
      </td>
      <td>
        <button name="join" class="btn btn-success btn-block" ng-click="join(session.$id)"> JOIN </button>
      </td>
    </tr>
  </tbody>
</table>
