<div class='container'>
  <div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">
      A Sample app on WebRTC + Firebase
    </p>
  </div>
  <div class='row usernameForm' ng-show="!username">
    <h2>First time here eh? Please register an email</h2>
    <form class='form-inline' ng-submit="submitUsername()">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="email" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success pull-right">Submit</button>
      </div>
    </form>
  </div>

  <div class='row ' ng-show='username'>
    <div class='col-md-12'>
      <p>
        Welcome: {{username}}
      </p>
    </div>
    <div class='col-md-6'>
      <button name="create" class='btn btn-success btn-block' ng-click='create()'> Create Room </button>
    </div>
    <div class="col-md-6">
      <button name="create" class='btn btn-default btn-block' ng-click='toList()'> View list </button>
    </div>
  </div>
  <br>
</div>
