
<div class='row '>
  <div class='col-md-12 '>
    <button name="create" class='btn btn-info pull-right' ng-click='create()'> Create Room </button>
  </div>
</div>

<div class='container'>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          # of Peers
        </th>
        <th>
          Created at
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="session in list">
        <th>
          {{session.$id}}
        </th>
        <td>
          {{session.peerCount}}
        </td>
        <td>
          {{session.createdAt}}
        </td>
        <td>
          <button name="join" class="btn btn-success" ng-click="join(session.$id)"> JOIN </button>
          <!-- <button name="join" class="btn btn-primary"  ng-disabled='true'> MONITOR </button> -->
          <button name="join" class="btn btn-danger" ng-click="remove(session.$id)"> Delete </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
